/* Define variables for colors */
:root {
    --background-color: #f5f7f3;

    --background-one: grey;
    --background-two: cyan;
    --background-three: yellow;
    --background-four: blue;
    --background-five: purple;
    --background-six: magenta;

    --columbia-blue: #bdd2ea;
    --fake: #C6CDE1;
    --cambridge-blue: #9aac8a;
    --battleship-gray: #939598;
    --celestial-blue: #4f99cc;
    --fern-green: #48773e;
    --cinnabar: #ef402b;

    --light-green: #A7C4A1;
    --dark-green: #2A4524;
}

/* ###################################################### */
/*                       General Rules                    */
/* ###################################################### */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    max-height: 100%;
    max-width: 100%;

    border: 1px solid red;
}

/*helps with overflow on pictures*/
img {
    display: block;
    margin-left: auto;
    margin-right: auto;

    max-height: 100%;
    max-width: 100%;

    object-fit: cover;
}

body {
    background: var(--background-color);

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text-color);

    overflow-x: hidden;

    scroll-behavior: smooth;
}

header {
    overflow: hidden;

    background-color: transparent;
}

header ul {
    margin: 0;
    padding: 0;
}

header li {
    display: inline-block;
    margin-right: 1.2em;
    list-style-type: none;
}

header a {
    display: block;
    padding: 0.5em 1em;

    text-transform: uppercase;
    line-height: 2em;
    letter-spacing: 0.03em;

    font-weight: bold;
}

header a:link {
    color: #D54215;
}

header a:visited {
    color: #D54215;
}

header a:hover {
    color: #007dbc;
}

header a:active {
    color: black;
}

header img {
    float: left;

    margin: 10px 15px 15px 10px;

    width: 50px;
    height: auto;
}

nav {
    float: right;
}

a {
    text-decoration: none;
}

section {
    place-items: center;
    height: 100vh;
    letter-spacing: 0.3px;
}

.scene,
.frame {
    display: grid;
}

.scene {
    position: relative;
    background-color: var(--dark-green);
    text-align: center;
}

.scene:nth-of-type(2) {
    background-color: var(--battleship-gray);
}

.scene:nth-of-type(3) {
    background-color: var(--celestial-blue);
}

.scene:nth-of-type(4) {
    background: url(../assets/images/under-water.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    ;
}

.scene:nth-of-type(5) {
    background-color: var(--battleship-gray);
}

.scene:nth-of-type(6) {
    background-color: var(--fake);
}

.frame {
    height: 95%;
    width: 95%;
}

h1,
h2 {
    font-size: 1.2em;
    text-transform: uppercase;
}

p {}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        ". .";
}

/* scroll up button */
.back-up {
    background-color: greenyellow;
    border-radius: 50%;
    text-align: center;
    font-size: x-large;

    height: 40px;
    width: 40px;

    bottom: 0;
    right: 0;
}

/* ###################################################### */
/*                        Main elements                   */
/* ###################################################### */
.one,
.two,
.three,
.five,
.six {
    display: grid;
    gap: 1% 1%;

    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}

/* ###################################################### */
/*                        scene one                       */
/* ###################################################### */
.one {
    grid-template-columns: repeat(1, 0.5fr 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas:
        "one-title1 .";
}

.one-title1 {
    grid-area: one-title1;

    background:rgba(255,255,255, 0.5);
    padding: 4%;
}

.one-pictures {
    display: grid;
    grid-template-columns: 0.4fr 0.3fr 0.4fr;
    grid-auto-rows: 1fr;
    gap: 2% 2%;
    grid-template-areas:
        ". . ."
        ". . .";

    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}

.one img {
    height: 90%;
    width: 95%;
}

/* ###################################################### */
/*                        scene two                       */
/* ###################################################### */
.two {
    grid-template-columns: repeat(1, 1fr 1fr 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
        "two-picture two-text two-text"
        ". . thermometer"
        ". . thermometer";
}

.two-picture {
    grid-area: two-picture;
}

.two-text {
    grid-area: two-text;
}

.thermometer {
    grid-area: thermometer;
}

.two img {
    height: 15em;
    width: 100%;
}

/* Thermometer column and text */
.thermometer {
    position: relative;

    height: 150px;
    width: 30px;

    right: ;
    top: ;

    border-radius: 22px 22px 0 0;
    border: 5px solid #4a1c03;
    border-bottom: none;
    box-shadow: inset 0 0 0 4px #fff;

    transform: scale(2);
}

/* Thermometer Bulb */
.thermometer:before {
    content: " ";
    position: absolute;
    background: #db3f02;
    border-radius: 44px;
    border: 5px solid #4a1c03;
    box-shadow: inset 0 0 0 4px #fff;

    height: 52px;
    width: 52px;

    top: 141px;
    left: -21px;

    z-index: 2;
    /* Place the bulb under the column */
}

/* This piece here connects the column with the bulb */
.thermometer:after {
    content: " ";
    position: absolute;
    background: blue;

    height: 15px;
    width: 20px;
    box-shadow: inset 0 0 0 3px #fff;

    top: 135px;
    left: 0px;

    z-index: 3;
}

.mercury {
    position: absolute;
    background-color: red;
    border-radius: 0 0 10px 10px;
    box-shadow: inset 0 0 0 3px #fff;

    height: 0;
    width: 100%;

    bottom: 0;

    z-index: 1;

    transition: height 2s ease-out;
    transition-delay: 0.4s;
}

.animation-mercury {
    height: 90%;
}




/* ###################################################### */
/*                       scene three                      */
/* ###################################################### */
.three {
    background-color: var(--columbia-blue);
    grid-template-columns: repeat(1, 1fr 1fr 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
        ". . ."
        ". three-text ."
        ". . .";
}

.three-text {
    grid-area: three-text;
    z-index: 3;
}

.three-wave {
    position: absolute;
    background-color: var(--celestial-blue);
    --mask:
        radial-gradient(72.11px at 50% 100.00px, #000 99%, #0000 101%) calc(50% - 80px) 0/160px 100%,
        radial-gradient(72.11px at 50% -60px, #0000 99%, #000 101%) 50% 40px/160px 100% repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);

    height: 45%;
    width: 95%;

    bottom: 1.4rem;

    z-index: 1;
}

/* ###################################################### */
/*                        scene four                      */
/* ###################################################### */
.four {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 0.8fr 1fr;
    grid-template-areas:
        ". . four-text four-text four-text . ."
        ". . . . . . ."
        "coral-1 coral-2 coral-3 coral-4 coral-5 coral-6 coral-1-2";

    align-items: end;
}

.four-text {
    grid-area: four-text;
}

.four-text {
    background: rgba(255, 255, 255, 0.6);
    padding: 4%;
}

.coral-1 {
    grid-area: coral-1;
}

.coral-2 {
    grid-area: coral-2;
}

.coral-3 {
    grid-area: coral-3;
}

.coral-4 {
    grid-area: coral-4;
}

.coral-5 {
    grid-area: coral-5;
}

.coral-6 {
    grid-area: coral-6;
}

.coral-1-2 {
    grid-area: coral-1-2;
}

.coral-5-2 {
    grid-area: coral-5-2;
}


/* ###################################################### */
/*                       scene five                       */
/* ###################################################### */
.five {
    grid-template-columns: repeat(1, 1fr 1fr 1fr);
    grid-template-rows: 0.3fr 0.3fr 0.3fr;
    grid-template-areas:
        ". . ."
        ". five-earth-after five-earth-after"
        ". five-earth-after five-earth-after";
}

.five-earth-after {
    grid-area: five-earth-after;
}

.five img {
    height: 100%;
    width: 100%;

    border: 2px solid greenyellow;
}

/* ###################################################### */
/*                        scene six                       */
/* ###################################################### */
.six {
    grid-template-columns: repeat(1, 1fr 1fr 1fr 1fr);
    grid-template-rows: repeat(2, 0.5fr);
    grid-template-areas:
        "six-text six-text six-picture six-picture "
        "six-timeglass six-help six-help six-help";
}

.six-text {
    grid-area: six-text;
}

.six-picture {
    grid-area: six-picture;
}

.six-help {
    grid-area: six-help;
}

.six-timeglass {
    grid-area: six-timeglass;
}

In Assignment 2 and Assignment 3 you are required to create and use a simple Separation of Concerns. In Assignment 2 and Assignment 3 you are required to use BEM methodology.