* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

body {
	background-color: #323442;
	color: #fff;
}

section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

h2 {
	margin-bottom: 1rem;
}

.animate-on-scroll {
	opacity: 0;
	transform: translate(-300px, 0);
	transition: all 0.4s ease-out;
	transition-delay: 0.2s;
}

.animation {
	opacity: 1;
	transform: translate(0, 0);
}
