:root {
    --background-color: #F2F2F2;

    --background-one: #9AAC8A;
    --background-two: #49733D;
    --background-three: #BDD2EA;
    --background-five: #4F99CC;
    --background-six: #9AAC8A;

    --red: #D93B3B;
    --grey: #939598;

    --dark-text-color: #08250E;
    --light-text-color: #F2F2F2;
}