/* ###################################################### */
/*                           Media                        */
/* ###################################################### */

@media only screen and (max-width: 800px) {
    html {
        font-size: 2vw;
    }

    .two, .five {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .two {
        grid-template-areas:
            "two-text"
            "thermometer"
            "two-text-2";
    }

    .thermometer {
        transform: scale(1);
    }

    .five {
        grid-template-areas:
            "."
            "."
            "."
            "."
            "."
            "five-download";
    }

    a.five-download img {
        height: 9em;
        width: auto;
    }

    .six {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.8fr 0.4fr 0.2fr;
    }
    .six {
        grid-template-areas:
            "six-help six-help"
            "six-picture six-picture-two"
            "six-help-2 six-help-2";
    }

    img.six-picture,
    img.six-picture-two {
        height: 100%;
        width: 90%;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #1c1c1e;

        --background-one: #212125;
        --background-two: #2e2e32;
        --background-three: #3e3e42;
        --background-five: #4f4f54;
        --background-six: #7b7b81;

        --red: #ff453a;
        --grey: #8e8e93;

        --dark-text-color: #1c1c1e;
        --light-text-color: #f2f2f2;
    }
}

@media (prefers-reduced-motion) {
    .mercury,
    .three-wave,
    .animation-from-left,
    .animation-from-right,
    .animation-sides,
    .arrow-down {
        -webkit-transition-property: none;
        -moz-transition-property: none;
        -o-transition-property: none;
        transition-property: none;
    }
}
